body,div,dl,dt,dd,ol,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}

body {background-color:#F2E511;color:#000;font-family:Arial, Helvetica, sans-serif;font-size:14px}
html>body {font-size:14px}

a {color:#000}

h2 {margin:0 0 20px 0}

div#container {border:0px solid #000;margin:auto;padding:0 10px;max-width:990px}
div#footer p{color:#555;font-size:11px;padding-top:5px}

#container div {margin:20px auto;text-align:center}

#container form {margin:20px auto;width:300px}
#container form div {margin:0;text-align:left}
span.label,span.spacer,span.multiple span {width:120px;float:left;}
span.multiple {float:left;}
span.button {padding-left:120px;}
div.clear {clear:both;padding-top:5px;}
.text-center {
    text-align: center;
}

@media screen and (max-width: 400px) {
    img {
        width: 100%;
    }
}